<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Железнодорожный веб-портал</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <main>
        <header class="total-block">
            Российские Железные Дороги
        </header>
        <article class="total-block">

        </article>
        <footer class="total-block">
            code.drummer87@gmail.com
        </footer>
    </main>
</body>
</html>