html, body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #04eaed;
    text-align: center;
}

body {
    display: grid;
    grid-template-areas:
        "H"
        "A"
        "F";

    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 8%;
    height: 99vh;
    grid-gap: 4px;
}

header {
    grid-template: H;
}

footer {
    grid-template: F;
}

article {
    grid-template: A;
}