@using RailwayPortalClassLibrary
@model User


@{
    ViewData["Title"] = $"Личный кабинет";
}


<main>
    <h1>Личный кабинет Администратора</h1>
    <button>Создать аккаунт для нового сотрудника</button>
</main>
