@using RailwayPortalClassLibrary
@model User


@{
    ViewData["Title"] = $"Личный кабинет";
}


<div class="main">
    <div class="pageBlock" id="mainHeader"></div>
    <div class="pageBlock" id="mainNav"></div>
    <div class="pageBlock" id="mainArticle"></div>
    <div class="pageBlock" id="mainMesssages"></div>
</div>
